<body class="body-homepage">
    <h2 class="text-light">Cadastre-se</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="field pb-2 pt-3">
        <%= f.text_field :name, autofocus: true, class: "", placeholder:"Nome" %>
    </div class="field center">

    <div class="field pb-2 pt-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "", placeholder:"Email" %>
    </div>

    <div class="field pb-2 pt-3">
        <%= f.password_field :password, autocomplete: "new-password", class: "", placeholder:"Senha (mínimo - 6 dígitos)" %>
    </div>

    <div class="field pb-2 pt-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "", placeholder:"Confirme a senha" %>
    </div>

    <div class="actions pt-3 pb-2">
        <%= f.submit "Cadastrar", class: "btn btn-secondary" %>
    </div>
    <% end %>

    <%= link_to 'Entrar', new_user_session_path, class: "btn btn-secondary"%>
</body>
<style>
    .body-homepage {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        text-align: center;
    }
</style>