<div class="questionary-preview mx-auto">
    <h1 class="text-center pb-5"><b><%= @quiz.title %></b></h1>
    <ol class="pb-5">
        <% @questions.each do |question|%>
            <h4>
                <li>
                    <%= question.statement %> -
                    <div class="edit-question-options">
                        <%= question.category %>
                        <%= "(#{question.grade})"%>
                        <%= link_to 'Editar', edit_question_path(@quiz.id, question.id) %>
                        <%= link_to 'Deletar', destroy_question_path(@quiz, question), method: :delete, confirm: 'Tem certeza que quer excluir essa questão?' %>
                        <% unless question.category != 'Múltipla escolha' %>
                            <%= link_to 'Adicionar Alternativa', new_alternative_path(@quiz.id, question.id) %>
                            - <%= Alternative.where(question_id: question.id).count  %> Alternativas
                        <% end %>
                    </div>
                </li>
            </h4>
        <% end %>
    </ol>
</div>

<div class="add-question pt-5">
    <%= form_for(@question, url: new_question_path(params[:quiz_id])) do |f|%>
        <div class="form-inputs text-center">
            <h2 style="font-weight: bold">Adicionar Questão</h2>
            <div class="pt-2 form-group">
                <%= f.text_field :statement, :placeholder => "Enunciado", class: 'form-control'%>
            </div>

            <div class="pt-2 form-group">
                <%= f.select :category, options_for_select(['Tipo de Questão', 'Múltipla escolha', 'Verdadeiro/Falso', 'Dissertativa'], 1), {}, {class: 'form-control custom-select'} %>
            </div>

            <div class="pt-2 form-group">
                <%= f.number_field :grade, step: 0.1, :placeholder => "Quanto vale essa questão?", class: 'form-control' %>
            </div>
        </div>

        <div class="form-actions py-2 text-center">
            <%= f.submit "Adicionar", class: "btn btn-outline-light" %>
        </div>
    <% end %>
</div>
