<body class="body-homepage">
    <div class="card-group">
        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Home</h5>
                <p class="card-text">A página home é definida pelo controller das pages e pode ser acessada pelo link: <a class="" href="<%= home_path %>">Home</a>.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Documentação</h5>
                <p class="card-text">A página da documentação é definida pelo controller das pages e pode ser acessada pelo link: <a class="" href="<%= documentation_path %>">Documentation</a>.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Perfil</h5>
                <p class="card-text">A página do perfil é definida pelo controller das pages e pode ser acessada pelo link: <a class="" href="<%= perfil_path %>">Perfil</a>.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Index quiz</h5>
                <p class="card-text">A página de index dos quizes é definida pelo controller dos quizes e pode ser acessada pelo link: <a class="" href="<%= index_quiz_path %>">Quizzes</a>.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Create quiz</h5>
                <p class="card-text">A página de criar quizes é definida pelo controler dos quizes e pode ser acessada pelo link: <a class="" href="<%= new_quiz_path %>">Create quizzes</a>.</p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Index</h5>
                <p class="card-text">Método usado para mostrar todos os objetos de uma model.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Show</h5>
                <p class="card-text">Método usado para mostrar um objeto de uma model em questão, escolhido pelo ID.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Delete</h5>
                <p class="card-text">Método usado para deletar um objeto do banco de dados, escolhido pelo ID.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Admin?</h5>
                <p class="card-text">Método feito para checar se um usuário é administrador.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Create</h5>
                <p class="card-text">Método usado para criar um objeto no banco de dados.</p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Rubocop</h5>
                <p class="card-text">Gem utilizada para checar os padrões de escrita e os erros no ruby on rails.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Routes</h5>
                <p class="card-text">Arquivo no qual as rotas ficam guardadas com suas respectivas requisições http.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Creator</h5>
                <p class="card-text">Método utilizado para checar se um usuário tem permissão de criador.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Current_user</h5>
                <p class="card-text">Método feito para checar se um usuário está logado no sistema.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Image_tag</h5>
                <p class="card-text">Utilizado para alocar uma imagem a certo objeto de uma model.</p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Devise</h5>
                <p class="card-text">Devise é uma gem que é utilizada para facilitar a autenticação de usuários de um dado projeto.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Active Storage</h5>
                <p class="card-text">Funcionalidade do rails que permite que possamos linkar fotos e/ou arquivos para dada model, foi usada nos questionários</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Rspec</h5>
                <p class="card-text">Gem feita para auxiliar na testagem tanto das models, quanto das constrollers e das views.</p>
            </div>
        </div>

        <div class="card text-white bg-dark m-2" style="max-width: 18rem;">
            <div class="card-header">Back-end</div>
            <div class="card-body">
                <h5 class="card-title">Factory boy</h5>
                <p class="card-text">Factory bot é uma gem feita para auxiliar na testagem, com essa gem conseguimos 'fabricar' exemplos para que possam ser testados no Rspec.</p>
            </div>
        </div>

        <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
            <div class="card-header">Front-end</div>
            <div class="card-body">
                <h5 class="card-title">Align</h5>
                <p class="card-text">Método do css usado para alinhar certos conteúdos em algum lugar da tela, pode ser usado para centralizar ou podemos setar os conteúdos para algum espaço.</p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
            <div class="card-header">Front-end</div>
            <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text">O bootstrap é uma extensão que facilita a criação de algumas coisas no front-end, foi usado na navbar, criação de cards e alguns botões.</p>
            </div>
        </div>

        <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
            <div class="card-header">Front-end</div>
            <div class="card-body">
                <h5 class="card-title">Background</h5>
                <p class="card-text">Método do css usado para definir algo no fundo da nossa tela, pode ser uma imagem, por exemplo, mas no nosso caso foi usado para definir a cor de fundo.</p>
            </div>
        </div>

        <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
            <div class="card-header">Front-end</div>
            <div class="card-body">
                <h5 class="card-title">Radial Gradient</h5>
                <p class="card-text">Categoria utilizada para definir a cor de algo em forma de 'círculo' e o gradiente, pode ser vista no background do site.</p>
            </div>
        </div>

        <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
            <div class="card-header">Front-end</div>
            <div class="card-body">
                <h5 class="card-title">Padding</h5>
                <p class="card-text">Padding é um método do css que define o espaçamento dentro dos limites de um dado conteúdo.</p>
            </div>
        </div>

        <div class="card text-white bg-secondary m-2" style="max-width: 18rem;">
            <div class="card-header">Front-end</div>
            <div class="card-body">
                <h5 class="card-title">Margin</h5>
                <p class="card-text">Margin é um método do css que define o espaçamento fora dos limites de um dado conteúdo.</p>
            </div>
        </div>
    </div>
</body>

<style>
    .body-homepage {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        text-align: center;
    }
</style>