<body class="body-homepage">
    <div class="quiz-index">
        <h2 class="mb-5">Seus questionários</h2>
        <% @quizzes.each do |quiz| %>
        <p class="mb-5">
            <h4 class="quiz-title"><%= quiz.title %></h4>
            <%= link_to 'Ver', show_quiz_path(quiz.id) %>
            <%= link_to 'Editar', edit_quiz_path(quiz.id) %>
            <%= link_to 'Adicionar Questão', new_question_path(quiz.id) %>
            - <%= Question.where(quiz_id: quiz.id).count  %> Questões
        </p>
        <%end%>
        <h6 class="mt-5"><%= link_to 'Novo questionário', new_quiz_path %></h6>
    </div>
</body>

<style>
    .body-homepage {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        text-align: center;
    }
</style>