    <%= form_for(@alternative, url: edit_alternative_path(@alternative.question.quiz_id, @alternative.question_id, @alternative)) do |f|%>
        <div class="form-inputs text-center">
            <h2 style="font-weight: bold">Editar Alternativa</h2>
            <h2><%= "#{@alternative.question.quiz.title} - #{@alternative.question.statement} - #{@alternative.body}" %></h2>
            <div class="pt-2 form-group">
                <%= f.text_area :body, :placeholder => "Texto", class: 'form-control', rows: 2, value: @alternative.body%>
            </div>

            <div class="pt-2 form-check">
                <%= f.check_box :correct_answer?, class: 'form-check-input', value: @alternative.correct_answer? %> Essa alternativa é a resposta correta?
            </div>

        <div class="form-actions py-2 text-center">
            <%= f.submit "Adicionar", class: "btn btn-outline-light" %>
        </div>
    <% end %>